# created by virtualenv automatically
.env
.test
.test3
/.venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Docker
.dockerignore
docker-*.env

# Volume data
redis-data/

#nginx
nginx/

.cursor/
